In [31]:
## Importação das Bibliotecas utilizadas neste Fonte
import requests
import json 
import pandas as pd

In [32]:
#Pacientes Acolhido
res_pac_acolhido = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/pacientesacolhidos/2022-12-01/2023-03-31')

In [33]:
res_pac_extrato

In [34]:
#Pacientes Acolhido
df_pac_acolhido =  pd.DataFrame.from_dict(response_pac_acolhido)

In [35]:
# Endereços dos Pacientes Acolhidos

# determining the name of the file

file_name_endereco = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Arquivos_Excel\Pasta\PacientesAcolhidos_Geral_2022_2023.xlsx'

# saving the excel

df_pac_acolhido.to_excel(file_name_endereco)

FileCreateError: [Errno 13] Permission denied: 'G:\\OneDrive - Default Directory\\OneDrive - rede.sp\\WorkSpace_PS\\Arquivos_Excel\\Pasta\\PacientesAcolhidos_Geral_2022_2023.xlsx'

In [36]:
# importacao de bibliotecas
import pandas as pd
from unidecode import unidecode

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [37]:
# Importacao da biblioteca sqlalchemy
from sqlalchemy import create_engine

In [39]:
## Conexão com a base de dados postgree

import pyodbc as podbc

cnxn = podbc.connect("Driver={SQL Server Native Client 11.0};Server=hspmins18;Database=Isolamento_Versao_2;uid=hspmApp;pwd=SoundG@rden=1")

In [40]:
## Acesso a base de dados

sql = "SELECT * FROM [hspmRelatorioPs].[dbo].[Paciente_Acolhido] "
data_sql_server = pd.read_sql(sql,cnxn)

In [41]:
data_sql_server.head()

Empty DataFrame
Columns: [prontuario, nomePaciente, dataNascimento, cns, rg, cpf, sexo, idade, raca, mae, pai, email, tipoPaciente, rf, ddd_foneResidencial, ddd_foneComercial, ddd_foneRecado, foneResidencial, foneComercial, foneRecado]
Index: []

In [42]:
df_pac_acolhido_sem_zero = df_pac_acolhido[df_pac_acolhido.prontuario != 0]

In [45]:
df_pac_acolhido_sem_zero.head()

,prontuario,nomePaciente,dataNascimento,cns,rg,cpf,sexo,idade,raca,mae,pai,email,tipoPaciente,rf,ddd_foneResidencial,ddd_foneComercial,ddd_foneRecado,foneResidencial,foneComercial,foneRecado
0,1115,ALCIDES ALLIAGA,29/06/1943,898001447386142,2978827-4,22706976853,M,79,,MARIA CONCEPCION ALONSO ALLIAG,CRISTOVAM ALLIAGA,,Servidor,4563476,11,None,11,39210163,,998499600
1,2568,SERGIO LUIZ ADRIANO,02/03/1942,0,3065535-3,12139998804,M,81,,ZILDA OTONI ADRIANO,ANTONIO ADRIANO,,Servidor,4577051,11,None,11,39613365,,993175377
2,3376,LEDA DE OLIVEIRA * *,10/02/1962,0,None,0,F,61,,MARIA APARECIDA DE OLIVEIRA,A PROPRIA,None,Servidor,0,None,None,None,966159667,None,None
3,7344,NELSON EMILIO BENDINELLI,30/04/1940,0,45252749,37225979868,M,82,,LEONOR ZANALDO,SANTO FELIX BENDINELLI,None,Servidor,4688236,11,None,11,36071570,None,949019340
4,7831,MARIA DA PENHA GOMES DE LIMA,02/05/1941,0,15590242-8,3926465875,F,81,,ANTONIA EMILIA GOMES,JOAO BATISTA GOMES,,Dependente,4464320,11,None,11,36071512,,982354876

In [48]:
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
for index, row in df_pac_acolhido_sem_zero.iterrows():
     cursor.execute("INSERT INTO [hspmRelatorioPs].[dbo].[Paciente_Acolhido] (prontuario ,nomePaciente ,dataNascimento ,cns,rg ,cpf ,sexo ,idade ,raca ,mae ,pai ,email ,tipoPaciente ,rf ,ddd_foneResidencial ,ddd_foneComercial ,ddd_foneRecado ,foneResidencial ,foneComercial ,foneRecado) values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)", row.prontuario, row.nomePaciente, row.dataNascimento,row.cns, row.rg, row.cpf,row.sexo, row.idade, row.raca,row.mae, row.pai, row.email,row.tipoPaciente, row.rf, row.ddd_foneResidencial,row.ddd_foneComercial, row.ddd_foneRecado, row.foneResidencial,row.foneComercial, row.foneRecado)
cnxn.commit()
cursor.close()