In [1]:
## Importação das Bibliotecas utilizadas neste Fonte
import requests
import json 
import pandas as pd

In [2]:
# Endpoints para o consumo de dados do banco de dados de produção do SGH

#Fichas do Histórico do Paciente no PS
res_ficha_pac = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/fichapacientes/2023-03-01/2023-03-31')

#Pacientes do histórico de consulta
res_pac = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/pacientes/2023-03-01/2023-03-31')

#Profissionais Médicos que deram baixa no SGH
res_prof = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/profissionais/2023-03-01/2023-03-31')

#Endereços dos Pacientes do histórico de consulta
res_ender_pac = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/enderecofichapacientes/2023-03-01/2023-03-31')

# Baixa de Pacientes
res_baixa_pac = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/baixapacientes/2023-03-01/2023-03-31')

In [3]:
# Carregando os dados 'json' para um tipo dicionário

#Fichas do Histórico do Paciente no PS
response_ficha_pac = json.loads(res_ficha_pac.text)

#Pacientes do histórico de consulta
response_pac = json.loads(res_pac.text)

#Profissionais Médicos que deram baixa no SGH
response_prof = json.loads(res_prof.text)

#Endereços dos Pacientes do histórico de consulta
response_ender = json.loads(res_ender_pac.text)

# Baixa de Pacientes
response_baixa_pac = json.loads(res_baixa_pac.text)

In [4]:
# Criando os DataFrames a partir dos dicionários

#Fichas do Histórico do Paciente no PS
df_ficha_pac =  pd.DataFrame.from_dict(response_ficha_pac)

#Pacientes do histórico de consulta
df_pac =  pd.DataFrame.from_dict(response_pac)

#Profissionais Médicos que deram baixa no SGH
df_prof =  pd.DataFrame.from_dict(response_prof)

#Endereços dos Pacientes do histórico de consulta
df_ender_pac =  pd.DataFrame.from_dict(response_ender)

# Baixa de Pacientes
df_baixa_pac =  pd.DataFrame.from_dict(response_baixa_pac)

In [5]:
# Relatório - Pacientes 
# Base de Dados para geração dos arquivos das tabelas dos Pacientes

In [6]:
# Ficha Pacientes

# determining the name of the file
file_name_ficha = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Arquivos_Excel\Pasta\FichaPacientes_Geral_03_2023.xlsx'
  
# saving the excel
df_ficha_pac.to_excel(file_name_ficha)

In [7]:
# Endereço de Paciente

# determining the name of the file
file_name_endereco = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Arquivos_Excel\Pasta\EnderecosDePacientes_Geral_03_2023.xlsx'
  
# saving the excel
df_ender_pac.to_excel(file_name_endereco)

In [8]:
# Paciente

# determining the name of the file
file_name_paciente = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Arquivos_Excel\Pasta\Pacientes_Geral_03_2023.xlsx'
  
# saving the excel
df_pac.to_excel(file_name_paciente)

In [9]:
# Baixa de Paciente

# determining the name of the file
file_baixa_paciente = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Arquivos_Excel\Pasta\BaixaPacientes_Geral_03_2023.xlsx'
  
# saving the excel
df_baixa_pac.to_excel(file_baixa_paciente)

In [10]:
# Profissional 

# determining the name of the file
file_baixa_paciente = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Arquivos_Excel\Pasta\Profissional_Geral_03_2023.xlsx'
  
# saving the excel
df_prof.to_excel(file_baixa_paciente)

In [11]:
# Relatório de produtividade - alteração realizada para medir a produtividade por hora

In [12]:
# Informações do data_frame, verificando campos nulos
df_baixa_pac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6475 entries, 0 to 6474
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   prontuario     6475 non-null   int64
 1   con_numero     6475 non-null   int64
 2   trg_seq        6475 non-null   int64
 3   seqp           6475 non-null   int64
 4   data_consulta  6474 non-null   object
 5   cod_status     6475 non-null   int64
 6   status_ficha   6475 non-null   object
 7   usuario        6475 non-null   object
 8   data_mvto      6475 non-null   object
dtypes: int64(5), object(4)
memory usage: 455.4+ KB

In [13]:
# Mudança do tipo do campo "data_acolhimento" para datetime
 
df_baixa_pac["data_mvto"] = pd.to_datetime(df_baixa_pac["data_mvto"])

In [14]:
# Visualização das informações atualizadas
df_baixa_pac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6475 entries, 0 to 6474
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   prontuario     6475 non-null   int64
 1   con_numero     6475 non-null   int64
 2   trg_seq        6475 non-null   int64
 3   seqp           6475 non-null   int64
 4   data_consulta  6474 non-null   object
 5   cod_status     6475 non-null   int64
 6   status_ficha   6475 non-null   object
 7   usuario        6475 non-null   object
 8   data_mvto      6475 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 455.4+ KB

In [15]:
# Valores do data_frame 
df_baixa_pac.head()

,prontuario,con_numero,trg_seq,seqp,data_consulta,cod_status,status_ficha,usuario,data_mvto
0,2097111,3979512,56808,5,2023-03-31 23:07:16.861,22,ALTA COM ENCAMINHAMENTO,R895362,2023-03-31 23:52:28.305
1,11844610,3979510,56806,5,2023-03-31 22:50:26.029,6,ALTA MEDICA,R919842,2023-03-31 23:44:21.799
2,12243812,3979506,56800,7,2023-03-31 22:25:55.779,6,ALTA MEDICA,R895539,2023-03-31 23:54:09.626
3,10705275,3979504,56802,5,2023-03-31 22:24:44.644,6,ALTA MEDICA,X036242,2023-03-31 22:48:14.188
4,5348628,3979496,56798,5,2023-03-31 21:49:27.027,6,ALTA MEDICA,X036242,2023-03-31 22:42:04.958

In [16]:
# Contagem de produtividade por fichas abertas por hora
dc_contagem_por_hora = df_baixa_pac.resample('H', on='data_mvto').prontuario.count()

In [17]:
# Dataframe de produtividade por fichas abertas por hora 
df_contagem_por_hora = dc_contagem_por_hora.to_frame()

In [18]:
# Acrescentando os campos data e hora separadamente no dataframe de produtividade
df_contagem_por_hora['data'] = [d.date() for d in df_contagem_por_hora.index]
df_contagem_por_hora['hora'] = [d.time() for d in df_contagem_por_hora.index]

In [19]:
# Apresentação dos dados das primeiras 24h do dataframe
df_contagem_por_hora.head(24)

                     prontuario        data      hora
data_mvto
2023-03-01 00:00:00           2  2023-03-01  00:00:00
2023-03-01 01:00:00           1  2023-03-01  01:00:00
2023-03-01 02:00:00           0  2023-03-01  02:00:00
2023-03-01 03:00:00           1  2023-03-01  03:00:00
2023-03-01 04:00:00           2  2023-03-01  04:00:00
2023-03-01 05:00:00           0  2023-03-01  05:00:00
2023-03-01 06:00:00           6  2023-03-01  06:00:00
2023-03-01 07:00:00          15  2023-03-01  07:00:00
2023-03-01 08:00:00          12  2023-03-01  08:00:00
2023-03-01 09:00:00          19  2023-03-01  09:00:00
2023-03-01 10:00:00          21  2023-03-01  10:00:00
2023-03-01 11:00:00          29  2023-03-01  11:00:00
2023-03-01 12:00:00          30  2023-03-01  12:00:00
2023-03-01 13:00:00          28  2023-03-01  13:00:00
2023-03-01 14:00:00          16  2023-03-01  14:00:00
2023-03-01 15:00:00          13  2023-03-01  15:00:00
2023-03-01 16:00:00          16  2023-03-01  16:00:00
2023-03-01 17:00:00          12  2023-03-01  17:00:00
2023-03-01 18:00:00          16  2023-03-01  18:00:00
2023-03-01 19:00:00           9  2023-03-01  19:00:00
2023-03-01 20:00:00           3  2023-03-01  20:00:00
2023-03-01 21:00:00           9  2023-03-01  21:00:00
2023-03-01 22:00:00           8  2023-03-01  22:00:00
2023-03-01 23:00:00           7  2023-03-01  23:00:00

In [20]:
#Determinando o nome do arquivo
file_name_ficha = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Arquivos_Excel\Pasta\FichaPacientesBaixa_Produtividade_Geral_03_2023.xlsx'
  
# Salvando o excel
df_contagem_por_hora.to_excel(file_name_ficha)