In [1]:
## Importação das Bibliotecas utilizadas neste Fonte
import requests
import json 
import pandas as pd

C:\Users\h013026\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [15]:
# Endpoints para o consumo de dados do banco de dados de produção do SGH

#Fichas do Histórico do Paciente no PS
res_ficha_pac = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/fichapacientes/2023-08-01/2023-08-31')

#Pacientes do histórico de consulta
res_pac = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/pacientes/2023-08-01/2023-08-31')

#Profissionais Médicos que deram baixa no SGH
res_prof = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/profissionais/2023-08-01/2023-08-31')

#Endereços dos Pacientes do histórico de consulta
res_ender_pac = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/enderecofichapacientes/2023-08-01/2023-08-31')

# Baixa de Pacientes
res_baixa_pac = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/baixapacientes/2023-08-01/2023-08-31')

In [16]:
# Carregando os dados 'json' para um tipo dicionário

#Fichas do Histórico do Paciente no PS
response_ficha_pac = json.loads(res_ficha_pac.text)

#Pacientes do histórico de consulta
response_pac = json.loads(res_pac.text)

#Profissionais Médicos que deram baixa no SGH
response_prof = json.loads(res_prof.text)

#Endereços dos Pacientes do histórico de consulta
response_ender = json.loads(res_ender_pac.text)

# Baixa de Pacientes
response_baixa_pac = json.loads(res_baixa_pac.text)

In [17]:
# Criando os DataFrames a partir dos dicionários

#Fichas do Histórico do Paciente no PS
df_ficha_pac =  pd.DataFrame.from_dict(response_ficha_pac)

#Pacientes do histórico de consulta
df_pac =  pd.DataFrame.from_dict(response_pac)

#Profissionais Médicos que deram baixa no SGH
df_prof =  pd.DataFrame.from_dict(response_prof)

#Endereços dos Pacientes do histórico de consulta
df_ender_pac =  pd.DataFrame.from_dict(response_ender)

# Baixa de Pacientes
df_baixa_pac =  pd.DataFrame.from_dict(response_baixa_pac)

In [18]:
# Relatório - Pacientes 
# Base de Dados para geração dos arquivos das tabelas dos Pacientes

In [19]:
# Ficha Pacientes

# determining the name of the file
file_name_ficha = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Relatorio_Agosto_2023\FichaPacientes_Agosto_2023.xlsx'
  
# saving the excel
df_ficha_pac.to_excel(file_name_ficha)

In [20]:
# Endereço de Paciente

# determining the name of the file
file_name_endereco = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Relatorio_Agosto_2023\EnderecosDePacientes_Agosto_2023.xlsx'
  
# saving the excel
df_ender_pac.to_excel(file_name_endereco)

In [21]:
# Paciente

# determining the name of the file
file_name_paciente = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Relatorio_Agosto_2023\Pacientes_Agosto_2023.xlsx'
  
# saving the excel
df_pac.to_excel(file_name_paciente)

In [24]:
# Baixa de Paciente

# determining the name of the file
file_baixa_paciente = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Relatorio_Agosto_2023\BaixaPacientes_Agosto_2023.xlsx'
  
# saving the excel
df_baixa_pac.to_excel(file_baixa_paciente)

In [23]:
# Profissional 

# determining the name of the file
file_baixa_paciente = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Relatorio_Agosto_2023\Profissional_Agosto_2023.xlsx'
  
# saving the excel
df_prof.to_excel(file_baixa_paciente)

In [25]:
# Relatório de produtividade - alteração realizada para medir a produtividade por hora

In [26]:
# Informações do data_frame, verificando campos nulos
df_baixa_pac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6067 entries, 0 to 6066
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   prontuario     6067 non-null   int64
 1   con_numero     6067 non-null   int64
 2   trg_seq        6067 non-null   int64
 3   seqp           6067 non-null   int64
 4   data_consulta  6067 non-null   object
 5   cod_status     6067 non-null   int64
 6   status_ficha   6067 non-null   object
 7   usuario        6067 non-null   object
 8   data_mvto      6067 non-null   object
dtypes: int64(5), object(4)
memory usage: 426.7+ KB

In [35]:
# Mudança do tipo do campo "data_acolhimento" para datetime
from datetime import datetime

df_baixa_pac["data_mvto"] = pd.to_datetime(df_baixa_pac["data_mvto"], format='mixed')

In [36]:
# Visualização das informações atualizadas
df_baixa_pac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6067 entries, 0 to 6066
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   prontuario     6067 non-null   int64
 1   con_numero     6067 non-null   int64
 2   trg_seq        6067 non-null   int64
 3   seqp           6067 non-null   int64
 4   data_consulta  6067 non-null   object
 5   cod_status     6067 non-null   int64
 6   status_ficha   6067 non-null   object
 7   usuario        6067 non-null   object
 8   data_mvto      6067 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 426.7+ KB

In [37]:
# Valores do data_frame 
df_baixa_pac.head()

,prontuario,con_numero,trg_seq,seqp,data_consulta,cod_status,status_ficha,usuario,data_mvto
0,12222253,4503408,102974,5,2023-08-31 22:53:24.805,6,ALTA MEDICA,R919304,2023-08-31 23:00:30.846
1,11549904,4503404,102970,5,2023-08-31 22:27:01.406,6,ALTA MEDICA,R919304,2023-08-31 22:43:17.540
2,90037417,4503402,102968,5,2023-08-31 22:21:23.387,6,ALTA MEDICA,X591630,2023-08-31 22:40:04.403
3,10643963,4503399,102965,5,2023-08-31 22:06:33.283,6,ALTA MEDICA,X591630,2023-08-31 22:22:29.049
4,10643971,4503398,102964,5,2023-08-31 22:05:49.79,6,ALTA MEDICA,X591630,2023-08-31 22:17:56.191

In [38]:
# Contagem de produtividade por fichas abertas por hora
dc_contagem_por_hora = df_baixa_pac.resample('H', on='data_mvto').prontuario.count()

In [39]:
# Dataframe de produtividade por fichas abertas por hora 
df_contagem_por_hora = dc_contagem_por_hora.to_frame()

In [40]:
# Acrescentando os campos data e hora separadamente no dataframe de produtividade
df_contagem_por_hora['data'] = [d.date() for d in df_contagem_por_hora.index]
df_contagem_por_hora['hora'] = [d.time() for d in df_contagem_por_hora.index]

In [41]:
# Apresentação dos dados das primeiras 24h do dataframe
df_contagem_por_hora.head(24)

                     prontuario        data      hora
data_mvto
2023-08-01 00:00:00           2  2023-08-01  00:00:00
2023-08-01 01:00:00           2  2023-08-01  01:00:00
2023-08-01 02:00:00           2  2023-08-01  02:00:00
2023-08-01 03:00:00           1  2023-08-01  03:00:00
2023-08-01 04:00:00           1  2023-08-01  04:00:00
2023-08-01 05:00:00           1  2023-08-01  05:00:00
2023-08-01 06:00:00           3  2023-08-01  06:00:00
2023-08-01 07:00:00           4  2023-08-01  07:00:00
2023-08-01 08:00:00           5  2023-08-01  08:00:00
2023-08-01 09:00:00          19  2023-08-01  09:00:00
2023-08-01 10:00:00          15  2023-08-01  10:00:00
2023-08-01 11:00:00          18  2023-08-01  11:00:00
2023-08-01 12:00:00          15  2023-08-01  12:00:00
2023-08-01 13:00:00          13  2023-08-01  13:00:00
2023-08-01 14:00:00           9  2023-08-01  14:00:00
2023-08-01 15:00:00           7  2023-08-01  15:00:00
2023-08-01 16:00:00          14  2023-08-01  16:00:00
2023-08-01 17:00:00          18  2023-08-01  17:00:00
2023-08-01 18:00:00          20  2023-08-01  18:00:00
2023-08-01 19:00:00          10  2023-08-01  19:00:00
2023-08-01 20:00:00          17  2023-08-01  20:00:00
2023-08-01 21:00:00           8  2023-08-01  21:00:00
2023-08-01 22:00:00           5  2023-08-01  22:00:00
2023-08-01 23:00:00           5  2023-08-01  23:00:00

In [42]:
#Determinando o nome do arquivo
file_name_ficha = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Relatorio_Agosto_2023\FichaPacientesBaixa_Produtividade_Agosto_2023.xlsx'
  
# Salvando o excel
df_contagem_por_hora.to_excel(file_name_ficha)