In [1]:
## Importação das bibliotecas utilizadas no código fonte
import requests
import json
import pandas as pd

In [37]:
# Endpoints pordução do SGH

#Profissionais Médicos que deram baixa no SGH
res_pac = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/pacientesacolhidos/2022-12-01/2023-03-31')

In [39]:
# Carregando os dados 'json' para um tipo dicionário

#Profissionais Médicos que deram baixa no SGH
response_pac = json.loads(res_pac.text)

In [40]:
# Criando os DataFrames a partir dos dicionários

#Profissionais Médicos que deram baixa no SGH
df_pac =  pd.DataFrame.from_dict(response_pac)

In [42]:
# Profissional 

# determining the name of the file
file_paciente = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Arquivos_Excel\Pasta\Paciente_Acolhido_Geral_Marco.xlsx'
  
# saving the excel
df_pac.to_excel(file_paciente)

In [16]:
# Endpoints pordução do SGH

#Profissionais Médicos que deram baixa no SGH
res_prof = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/profissionais/2022-12-01/2023-04-06')

In [19]:
# Endpoints produção do SGH

#Pacientes atendidos pelo PS
res_pac = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/pacientesacolhidos/2023-03-01/2023-03-31')

In [20]:
# Carregando os dados 'json' para um tipo dicionário

#Pacientes atendidos pelo PS
response_pac = json.loads(res_pac.text)

In [21]:
# Criando os DataFrames a partir dos dicionários

#Pacientes atendidos pelo PS
df_pac =  pd.DataFrame.from_dict(response_pac)

In [22]:
# importacao de bibliotecas
import pandas as pd
from unidecode import unidecode

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [23]:
import numpy as np
print(np.__version__)

1.18.5

In [24]:
# Importacao da biblioteca sqlalchemy
from sqlalchemy import create_engine

In [25]:
## Conexão com a base de dados postgree

import pyodbc as podbc

cnxn = podbc.connect("Driver={SQL Server Native Client 11.0};Server=hspmins18;Database=hspmRelatorioPs;uid=hspmApp;pwd=SoundG@rden=1")

In [26]:
## Acesso a base de dados

sql = "SELECT * FROM [hspmRelatorioPs].[dbo].[Paciente_Acolhido]"
data_sql_server_pac = pd.read_sql(sql,cnxn)

In [27]:
data_sql_server_pac.head()

,prontuario,nomePaciente,dataNascimento,cns,rg,cpf,sexo,idade,raca,mae,pai,email,tipoPaciente,rf,ddd_foneResidencial,ddd_foneComercial,ddd_foneRecado,foneResidencial,foneComercial,foneRecado
0,1,CHRISTIAN ANDREWS GAGLIANI HESSEL,2000-01-27,0,39.149.435-1,0,M,23,Branca,VANESSA KAREN GAGLIONI CURILLO,DALZI DE BORBA HESSEL,None,Munícipe,0,11.0,NaN,NaN,946996967.0,NaN,NaN
1,3,CIBELE COSTA MEIRA,1984-11-13,0,None,0,F,38,None,INACIA MARIA COSTA MEIRA,LUIZ BATISTA MEIRA,None,Servidor,8873488,83.0,NaN,NaN,991367874.0,NaN,NaN
2,4,ISABEL PADELLA MARTINEZ,1960-01-09,0,None,0,F,63,None,LUIZA PADELLA GARCIA,MANOEL MARTINEZ GARCIA,None,Servidor,5191602,11.0,NaN,NaN,953551182.0,NaN,NaN
3,5,M.A RUTE ARAUJO DE ABREU,1998-04-06,0,None,0,F,24,Branca,MARIA DO CARMO DE ARAUJO,None,None,Munícipe,0,11.0,NaN,11.0,976505190.0,NaN,966040207.0
4,7,MARIA HELENA PRETE DE ALMEIDA,1938-03-05,0,None,0,F,84,None,ANTONIA MONTANARI PRETE,ANTONIO PRETE,None,Munícipe,0,11.0,NaN,NaN,994444202.0,NaN,NaN

In [28]:
data_sql_server_pac.shape

(11357, 20)

In [29]:
result = pd.merge(data_sql_server_pac, df_pac, on="prontuario",how="outer",indicator=True)

In [30]:
result.head()

,prontuario,nomePaciente_x,dataNascimento_x,cns_x,rg_x,cpf_x,sexo_x,idade_x,raca_x,mae_x,...,email_y,tipoPaciente_y,rf_y,ddd_foneResidencial_y,ddd_foneComercial_y,ddd_foneRecado_y,foneResidencial_y,foneComercial_y,foneRecado_y,_merge
0,1,CHRISTIAN ANDREWS GAGLIANI HESSEL,2000-01-27,0,39.149.435-1,0,M,23.0,Branca,VANESSA KAREN GAGLIONI CURILLO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,3,CIBELE COSTA MEIRA,1984-11-13,0,None,0,F,38.0,None,INACIA MARIA COSTA MEIRA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,4,ISABEL PADELLA MARTINEZ,1960-01-09,0,None,0,F,63.0,None,LUIZA PADELLA GARCIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,5,M.A RUTE ARAUJO DE ABREU,1998-04-06,0,None,0,F,24.0,Branca,MARIA DO CARMO DE ARAUJO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,7,MARIA HELENA PRETE DE ALMEIDA,1938-03-05,0,None,0,F,84.0,None,ANTONIA MONTANARI PRETE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [31]:
result=result[result['_merge']=='right_only']

In [32]:
result.shape

(4377, 40)

In [33]:
df_pac.head()

,prontuario,nomePaciente,dataNascimento,cns,rg,cpf,sexo,idade,raca,mae,pai,email,tipoPaciente,rf,ddd_foneResidencial,ddd_foneComercial,ddd_foneRecado,foneResidencial,foneComercial,foneRecado
0,10025,ANTONIA MARCELINO SERRA,13/06/1934,898000064478787,138565223,25157303882,F,88,Branca,MARIA APARECIDO MARCELINO,JOAQUIM MARCELINO DA SILVA,,Servidor,267744,11,None,11,986887594,,971432188
1,11585,DARCY DE LOURDES CARDOSO,27/10/1936,0,,0,F,86,,ANTONIA PEREIRA LOCATELLI,ANTONIO LOCATELLI,None,Servidor,178306,11,None,None,24224027,None,None
2,11676,VILMA VALENTIM FONTES MAIA ROCHA,11/04/1945,898001418455913,2760002-6,8398766883,F,78,,MARINHA VALENTIM FONTES,ARLINDO FERNNDES FONTES,NAO POSSUI,Servidor,115185,11,11,11,23080104,970631476,948944892
3,15628,MARIA DO CARMO SANTOS DA SILVA,08/09/1937,801434175371546,167258205,5265027890,F,85,Branca,MARIA JOSE DOS SANTOS,JOSE BISPO DOS SANTOS,,Servidor,13593300,11,None,11,988186794,,994727158
4,19521,ETELVINA JULIA PADETTI,08/04/1936,801440482745016,24994534,12988443807,F,87,Branca,ROSINA VIEIRA DA ROCHA,OZORIO JULIO DA CUNHA,,Servidor,4511689,11,None,11,39827475,,974651709

In [35]:
result.head()

,prontuario,nomePaciente_x,dataNascimento_x,cns_x,rg_x,cpf_x,sexo_x,idade_x,raca_x,mae_x,...,email_y,tipoPaciente_y,rf_y,ddd_foneResidencial_y,ddd_foneComercial_y,ddd_foneRecado_y,foneResidencial_y,foneComercial_y,foneRecado_y,_merge
11357,20560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,Dependente,4478851,11,None,None,22413194,None,None,right_only
11358,45393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NEUSABOMFIM@GMAIL.COM,Servidor,258393,11,11,11,56692920,994630907,993656010,right_only
11359,54973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,Servidor,4518403,11,None,11,952148625,,46774533,right_only
11360,55079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,Servidor,0,None,None,None,39826375,None,None,right_only
11361,65946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ELIZABETECAMARGO.SOUZA@GMAIL.COM,Servidor,240486,11,None,11,939544522,,978450741,right_only

In [36]:
#Determinando o nome do arquivo
file_name_ficha = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Arquivos_Excel\Pasta\Paciente_Acolhido_03_2023.xlsx'
  
# Salvando o excel
result.to_excel(file_name_ficha)