In [53]:
## Importação das bibliotecas utilizadas no código fonte
import requests
import json
import pandas as pd

In [54]:
# Endpoints produção do SGH

#Profissionais Médicos que deram baixa no SGH
res_prof = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/profissionais/2022-12-01/2023-03-31')

In [55]:
# Carregando os dados 'json' para um tipo dicionário

#Profissionais Médicos que deram baixa no SGH
response_prof = json.loads(res_pac.text)

In [56]:
# Criando os DataFrames a partir dos dicionários

#Profissionais Médicos que deram baixa no SGH
df_prof =  pd.DataFrame.from_dict(response_pac)

In [57]:

df_prof.at[45,'usuario']='X151747'

In [60]:
df_prof.loc[45]

rf_profissional                            8869481
nome_profissional    PEDRO HENRIQUE PEREIRA INGLEZ
usuario                                    X151747
Name: 45, dtype: object

In [61]:
# importacao de bibliotecas
import pandas as pd
from unidecode import unidecode

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [62]:
# Importacao da biblioteca sqlalchemy
from sqlalchemy import create_engine

In [63]:
## Conexão com a base de dados postgree

import pyodbc as podbc

cnxn = podbc.connect("Driver={SQL Server Native Client 11.0};Server=hspmins18;Database=Isolamento_Versao_2;uid=hspmApp;pwd=SoundG@rden=1")

In [68]:
## Acesso a base de dados

sql = "SELECT * FROM [hspmRelatorioPs].[dbo].[Profissionais] "
data_sql_server = pd.read_sql(sql,cnxn)

In [69]:
data_sql_server.head(100)

   rf_profissional                nome_profissional  usuario
0            24504     ANTONIO ALFREDO DA CRUZ NETO  X024504
1            34177    TYANNA MARIA BONFIM DE MORAES  X055670
2           108425          FILIPE DE CAMPOS GOLART  X024905
3           110024          FERNANDA DE BORBA RAMOS  X110024
4           177926             JULINEZ E SILVA LIMA  X112461
..             ...                              ...      ...
67        12596491     EDUARDO DE FREITAS GUIMARAES  X125964
68        28379572  ANA CAROLINA SALES ABREU LISBOA  X028379
69        36796557        BEATRIZ OLIVEIRA DE PAULA  X409625
70        49467504          FILIPE AUGUSTO DA SILVA  X494675
71        96671777           LEONARDO SOUZA ALMEIDA  X674720

[72 rows x 3 columns]

In [66]:
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
for index, row in df_prof.iterrows():
     cursor.execute("INSERT INTO [hspmRelatorioPs].[dbo].[Profissionais] (rf_profissional,nome_profissional,usuario) values(?,?,?)", row.rf_profissional, row.nome_profissional, row.usuario)
cnxn.commit()
cursor.close()