In [4]:
## Importação das Bibliotecas utilizadas neste Fonte
import requests
import json 
import pandas as pd

C:\Users\h013026\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [5]:
#Pacientes Histórico
res_pac_extrato = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/fichapacientes/2023-10-01/2023-10-31')

In [6]:
res_pac_extrato

In [7]:
# Carregando os dados 'json' para um tipo dicionário

#Fichas do Histórico do Paciente no PS
response_ficha_pac = json.loads(res_pac_extrato.text)

In [8]:
#Fichas do Histórico do Paciente no PS
df_pac_extrato =  pd.DataFrame.from_dict(response_ficha_pac )

In [43]:
df_pac_extrato[df_pac_extrato.prontuario ==10560753]

,cod_consulta,dt_consulta,setor,origem_paciente,queixa,info_complementares,usuario,status_ficha,prontuario,data_mvto,nome
2824,4631082,2023-10-29 22:15:40.12,PS CLÍNICA MÉDICA,MEIOS PRÓPRIOS,dormencia no pescoço,None,H839072,EM TRIAGEM,10560753,2023-10-29 21:46:17.107,SANDRA DOS SANTOS
2825,4631082,2023-10-29 22:15:40.12,PS CLÍNICA MÉDICA,MEIOS PRÓPRIOS,dormencia no pescoço,None,H839072,ENC INTERNO,10560753,2023-10-29 21:47:32.638,SANDRA DOS SANTOS
2826,4631082,2023-10-29 22:15:40.12,PS CLÍNICA MÉDICA,MEIOS PRÓPRIOS,dormencia no pescoço,None,R919267,EM PROCEDIMENTO,10560753,2023-10-29 22:40:03.376,SANDRA DOS SANTOS
2827,4631082,2023-10-29 22:15:40.12,PS CLÍNICA MÉDICA,MEIOS PRÓPRIOS,dormencia no pescoço,None,R919267,ALTA MEDICA,10560753,2023-10-29 23:45:13.899,SANDRA DOS SANTOS
2828,4631082,2023-10-29 22:15:40.12,PS CLÍNICA MÉDICA,MEIOS PRÓPRIOS,dormencia no pescoço,None,X022707,EM ATENDIMENTO,10560753,2023-10-29 22:15:22.957,SANDRA DOS SANTOS
2829,4631082,2023-10-29 22:15:40.12,PS CLÍNICA MÉDICA,MEIOS PRÓPRIOS,dormencia no pescoço,None,X022707,ENC INTERNO,10560753,2023-10-29 22:15:40.098,SANDRA DOS SANTOS
2830,4631082,2023-10-29 22:15:40.12,PS CLÍNICA MÉDICA,MEIOS PRÓPRIOS,dormencia no pescoço,None,X022707,ENC INTERNO,10560753,2023-10-29 22:15:40.362,SANDRA DOS SANTOS
2837,4631078,2023-10-29 21:47:32.044,None,MEIOS PRÓPRIOS,dormencia no pescoço,None,H839072,EM TRIAGEM,10560753,2023-10-29 21:46:17.107,SANDRA DOS SANTOS
2838,4631078,2023-10-29 21:47:32.044,None,MEIOS PRÓPRIOS,dormencia no pescoço,None,H839072,ENC INTERNO,10560753,2023-10-29 21:47:32.638,SANDRA DOS SANTOS
2839,4631078,2023-10-29 21:47:32.044,None,MEIOS PRÓPRIOS,dormencia no pescoço,None,R919267,EM PROCEDIMENTO,10560753,2023-10-29 22:40:03.376,SANDRA DOS SANTOS
2840,4631078,2023-10-29 21:47:32.044,None,MEIOS PRÓPRIOS,dormencia no pescoço,None,R919267,ALTA MEDICA,10560753,2023-10-29 23:45:13.899,SANDRA DOS SANTOS
2841,4631078,2023-10-29 21:47:32.044,None,MEIOS PRÓPRIOS,dormencia no pescoço,None,X022707,EM ATENDIMENTO,10560753,2023-10-29 22:15:22.957,SANDRA DOS SANTOS
2842,4631078,2023-10-29 21:47:32.044,None,MEIOS PRÓPRIOS,dormencia no pescoço,None,X022707,ENC INTERNO,10560753,2023-10-29 22:15:40.098,SANDRA DOS SANTOS
2843,4631078,2023-10-29 21:47:32.044,None,MEIOS PRÓPRIOS,dormencia no pescoço,None,X022707,ENC INTERNO,10560753,2023-10-29 22:15:40.362,SANDRA DOS SANTOS

In [10]:
df_pac_extrato_Clinica = df_pac_extrato[df_pac_extrato.setor == "PS CLÍNICA MÉDICA"][['cod_consulta','prontuario']]

In [39]:
df_pac_extrato_Clinica

       cod_consulta  prontuario
0           4644442     2745388
1           4644442     2745388
2           4644442     2745388
3           4644442     2745388
4           4644442     2745388
...             ...         ...
32419       4564274     2232684
32425       4564270     9098658
32426       4564270     9098658
32427       4564270     9098658
32428       4564270     9098658

[13509 rows x 2 columns]

In [12]:
df_pac_extrato_Clinica.groupby(['cod_consulta'])

In [13]:
df2 = df_pac_extrato_Clinica.prontuario.drop_duplicates()

In [14]:
df2

0         2745388
56       10062776
96       10326957
102      10326981
119      10445856
           ...
32359    11087384
32387    11841145
32391     3837994
32395    10985059
32425     9098658
Name: prontuario, Length: 2483, dtype: int64

In [15]:
df3 = df_pac_extrato_Clinica.cod_consulta.drop_duplicates()


df3

0        4644442
56       4644425
96       4644413
102      4644410
119      4644404
          ...
32395    4564286
32400    4564284
32404    4564280
32416    4564274
32425    4564270
Name: cod_consulta, Length: 2833, dtype: int64

In [16]:
 df_prontuario =pd.DataFrame(df2)

In [17]:
df_prontuario.head()

     prontuario
0       2745388
56     10062776
96     10326957
102    10326981
119    10445856

In [18]:
#Pacientes Baixa
res_baixa = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/baixapacientes/2023-10-01/2023-10-31')

In [19]:
# Carregando os dados 'json' para um tipo dicionário

#Fichas do Histórico do Paciente no PS
response_baixa_pac = json.loads(res_baixa.text)

In [20]:
#Fichas do Histórico do Paciente no PS
df_pac_baixa =  pd.DataFrame.from_dict(response_baixa_pac )

In [21]:
df_pac_baixa.head()

,prontuario,con_numero,trg_seq,seqp,data_consulta,cod_status,status_ficha,usuario,data_mvto
0,10618924,4644430,121968,5,2023-10-31 22:43:42.69,6,ALTA MEDICA,X494675,2023-10-31 23:31:54.887
1,12021473,4644429,121967,5,2023-10-31 22:33:52.275,6,ALTA MEDICA,R919289,2023-10-31 23:31:36.527
2,90014101,4644426,121964,5,2023-10-31 22:25:29.304,6,ALTA MEDICA,X110024,2023-10-31 22:57:46.978
3,10062776,4644425,121962,5,2023-10-31 22:17:48.297,6,ALTA MEDICA,X494675,2023-10-31 23:01:45.18
4,11892643,4644424,121960,6,2023-10-31 22:12:31.735,6,ALTA MEDICA,R919267,2023-10-31 23:18:39.308

In [22]:
 inner_join = pd.merge(df_prontuario, df_pac_baixa, how="inner", on=["prontuario", "prontuario"])

In [23]:
inner_join

,prontuario,con_numero,trg_seq,seqp,data_consulta,cod_status,status_ficha,usuario,data_mvto
0,10062776,4644425,121962,5,2023-10-31 22:17:48.297,6,ALTA MEDICA,X494675,2023-10-31 23:01:45.18
1,10062776,4597280,119984,5,2023-10-25 21:47:48.365,6,ALTA MEDICA,X447694,2023-10-25 22:05:02.594
2,10326957,4599320,120302,5,2023-10-26 16:17:32.708,6,ALTA MEDICA,X125964,2023-10-26 17:47:45.073
3,10326957,4597865,120182,5,2023-10-26 11:38:08.207,6,ALTA MEDICA,R895534,2023-10-26 12:28:36.189
4,10326981,4644410,121944,5,2023-10-31 20:24:10.337,6,ALTA MEDICA,X110024,2023-10-31 22:46:33.67
...,...,...,...,...,...,...,...,...,...
2959,11087384,4564302,112286,5,2023-10-01 10:18:04.054,6,ALTA MEDICA,H852173,2023-10-01 10:31:19.401
2960,11841145,4564292,112274,5,2023-10-01 09:10:24.188,6,ALTA MEDICA,H852173,2023-10-01 09:25:34.539
2961,3837994,4564288,112272,5,2023-10-01 08:51:07.106,6,ALTA MEDICA,H852173,2023-10-01 09:05:36.558
2962,10985059,4564286,112270,6,2023-10-01 08:35:41.509,6,ALTA MEDICA,H852173,2023-10-01 10:57:50.811
2963,9098658,4564270,112256,5,2023-10-01 06:33:25.498,6,ALTA MEDICA,H852173,2023-10-01 07:10:27.874

In [24]:
#Profissionais
profissionais = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/profissionais/2023-10-01/2023-10-31')

In [25]:
# Carregando os dados 'json' para um tipo dicionário

#Fichas do Histórico do Paciente no PS
profissionais = json.loads(profissionais.text)

In [26]:
#Fichas do Histórico do Paciente no PS
df_profissionais =  pd.DataFrame.from_dict(profissionais )

In [27]:
df_profissionais.head()

   rf_profissional              nome_profissional  usuario
0            34177  TYANNA MARIA BONFIM DE MORAES  X055670
1           110024        FERNANDA DE BORBA RAMOS  X110024
2           151747  PEDRO HENRIQUE PEREIRA INGLEZ  X151747
3           177926           JULINEZ E SILVA LIMA  X112461
4           264523   JOSE MIGUEL SALVATIERRA ANEZ  X014135

In [28]:
df_profissionais

    rf_profissional                             nome_profissional  usuario
0             34177                 TYANNA MARIA BONFIM DE MORAES  X055670
1            110024                       FERNANDA DE BORBA RAMOS  X110024
2            151747                 PEDRO HENRIQUE PEREIRA INGLEZ  X151747
3            177926                          JULINEZ E SILVA LIMA  X112461
4            264523                  JOSE MIGUEL SALVATIERRA ANEZ  X014135
5            329228                           YAMILE ASBUN TELLEZ  X820120
6            369030                         SEBASTIAN RODA ANTELO  X369030
7            447694                      BEATRIZ DE AUGUSTO ISIHI  X447694
8            457387                     MATHEUS EIJI ASAM MAEHATA  X457387
9            496451                            NAYARA COSTA VEIGA  X496451
10          1833266                  LETICIA MARIA MOREIRA RABELO  X183326
11          3404647              CARLOS EDUARDO ABULARACH BANEGAS  X340464
12          5183057                  BOMFIM ALVES DA SILVA JUNIOR  H518305
13          5681094         GIORDANA ANTUNES DE QUEIROZ ESPINDOLA  X036242
14          5741777         NEUZA ALICE NOBUKO SAWADA CHIMABUCURO  H574177
15          5916304                               LEANDRO CAIXETA  X591630
16          5949254                   RITA DE CASSIA LOPES DANTAS  H594925
17          5968429                                CARLOS YISRAEL  H596842
18          7170025           MARIA CARMEN TALLADA IBORRA TOSCANO  H717002
19          7193904                           PAULO MICHAEL ROCHA  H719390
20          8521735                ROSSANO MARCELLO PEREIRA GOMES  H852173
21          8524181                        PAULA ESCALFONI MORAES  X646609
22          8525846                           MARCELO SILVA LOPES  H008820
23          8529582                  MARIO LUIZ RODRIGUES DE MELO  H852958
24          8530777            RAIMUNDO ROBERTO FARIAS DE ALMEIDA  H853077
25          8531412            MARCIUS VINICIUS GONCALVES CORREIA  H853141
26          8531609                             ANDRE LUIS MORAES  D005370
27          8804648             ANDREA BACELLAR SOARES DE ANDRADE  H880464
28          8868859                 FELIPE SCOFANO FERREIRA LEITE  R886885
29          8868999                                  VITOR SEQUIM  R886899
30          8936994                          CAROLINE ALVES BUENO  R893699
31          8953627                  GUSTAVO VICTOR LUCAS E SILVA  R895362
32          8953686                         VIKTOR DIAS MAGALHAES  R895368
33          8953741                     ANA FABRICIA FEITOSA DIAS  R895374
34          8953759                      RAPHAEL ANDRADE OLIVEIRA  R895375
35          8953767                       YASMIM VINHAL FERNANDES  R895376
36          8955344                       LUCIANA FONTES DE MARCO  R895534
37          8959374  MANUEL FERNANDO COLARES DE SOUZA VASCONCELOS  R895937
38          9192590                JULIA CARVALHO GARCIA DE ASSIS  R919259
39          9192611                    ISABELA VANNUCCI BUSSADORI  R919261
40          9192620                           BRUNA ANDRADE BELLO  R919262
41          9192671                       AMANDA SANCHES TSUJIOKA  R919267
42          9192875                      HENRIQUE CALVELLI COELHO  R919287
43          9192891                     JEDSON VIEIRA GOMES FILHO  R919289
44          9192913                 VINICIUS RAFAEL VEIGA SALAZAR  R919291
45          9192981            LORRAINY SIMONASSI COUTINHO SEQUIM  R919298
46          9193014             NATALIA DOS SANTOS RAMALHO VIEIRA  R919301
47          9193049                     GUSTAVO QUEIROZ DE BARROS  R919304
48          9193057                       FELIPE DILELLA OLIVEIRA  R919305
49          9197621                  MARIANA SOUZA TAVARES SANTOS  R919762
50         11529379                     JULIANA RODRIGUES MARTINS  X022707
51         12596491                  EDUARDO DE FREITAS GUIMARAES  X125964
52         28379572               ANA CAROLINA SALES ABREU LISBOA  X028379
53         36796557                     BEATRIZ OLIVEIRA DE PAULA  X409625
54         49467504                       FILIPE AUGUSTO DA SILVA  X494675
55         94954380                       LARISSA SILVEIRA GUSMAO  X094954
56         96671777                        LEONARDO SOUZA ALMEIDA  X674720

In [33]:
 inner_join_profissional = pd.merge(inner_join, df_profissionais, how="inner", on=["usuario", "usuario"])
inner_join_profissional

,prontuario,con_numero,trg_seq,seqp,data_consulta,cod_status,status_ficha,usuario,data_mvto,rf_profissional,nome_profissional
0,10062776,4644425,121962,5,2023-10-31 22:17:48.297,6,ALTA MEDICA,X494675,2023-10-31 23:01:45.18,49467504,FILIPE AUGUSTO DA SILVA
1,12185286,4644397,121933,7,2023-10-31 19:38:49.233,6,ALTA MEDICA,X494675,2023-10-31 22:42:59.133,49467504,FILIPE AUGUSTO DA SILVA
2,10268332,4598306,120238,6,2023-10-26 14:08:54.221,6,ALTA MEDICA,X494675,2023-10-26 19:49:28.792,49467504,FILIPE AUGUSTO DA SILVA
3,11352044,4644392,121927,5,2023-10-31 19:06:00.499,6,ALTA MEDICA,X494675,2023-10-31 22:10:06.982,49467504,FILIPE AUGUSTO DA SILVA
4,1044627,4644369,121913,6,2023-10-31 17:23:52.986,6,ALTA MEDICA,X494675,2023-10-31 21:36:28.888,49467504,FILIPE AUGUSTO DA SILVA
...,...,...,...,...,...,...,...,...,...,...,...
2959,1903855,4581852,116206,8,2023-10-15 01:01:00.37,6,ALTA MEDICA,R895375,2023-10-15 01:16:30.83,8953759,RAPHAEL ANDRADE OLIVEIRA
2960,1903855,4581824,116206,8,2023-10-14 20:12:24.698,6,ALTA MEDICA,R895375,2023-10-15 01:16:30.83,8953759,RAPHAEL ANDRADE OLIVEIRA
2961,2550267,4581246,115654,10,2023-10-12 08:38:42.704,6,ALTA MEDICA,R895362,2023-10-12 23:25:32.671,8953627,GUSTAVO VICTOR LUCAS E SILVA
2962,3318557,4575400,113630,7,2023-10-05 16:09:00.466,6,ALTA MEDICA,H880464,2023-10-05 17:04:49.823,8804648,ANDREA BACELLAR SOARES DE ANDRADE
2963,3318557,4575108,113630,7,2023-10-05 14:37:46.453,6,ALTA MEDICA,H880464,2023-10-05 17:04:49.823,8804648,ANDREA BACELLAR SOARES DE ANDRADE

In [38]:
df = inner_join_profissional[inner_join_profissional.nome_profissional == "AMANDA SANCHES TSUJIOKA"]
df.head()

,prontuario,con_numero,trg_seq,seqp,data_consulta,cod_status,status_ficha,usuario,data_mvto,rf_profissional,nome_profissional
2828,679126,4631098,121174,8,2023-10-30 04:18:44.171,6,ALTA MEDICA,R919267,2023-10-30 05:00:35.857,9192671,AMANDA SANCHES TSUJIOKA
2829,679126,4631092,121174,8,2023-10-30 01:20:02.45,6,ALTA MEDICA,R919267,2023-10-30 05:00:35.857,9192671,AMANDA SANCHES TSUJIOKA
2830,10560753,4631082,121161,8,2023-10-29 22:15:40.12,6,ALTA MEDICA,R919267,2023-10-29 23:45:13.899,9192671,AMANDA SANCHES TSUJIOKA
2831,10560753,4631078,121161,8,2023-10-29 21:47:32.044,6,ALTA MEDICA,R919267,2023-10-29 23:45:13.899,9192671,AMANDA SANCHES TSUJIOKA
2832,1931617,4581380,115788,6,2023-10-12 23:48:10.555,6,ALTA MEDICA,R919267,2023-10-13 04:28:23.186,9192671,AMANDA SANCHES TSUJIOKA

In [2]:
df = inner_join_profissional.groupby(['nome_profissional']).count().usuario

NameError: name 'inner_join_profissional' is not defined

In [223]:
df.head()

nome_profissional
AMANDA SANCHES TSUJIOKA                5
ANA CAROLINA SALES ABREU LISBOA       73
ANA FABRICIA FEITOSA DIAS              1
ANDREA BACELLAR SOARES DE ANDRADE      2
BEATRIZ DE AUGUSTO ISIHI             199
Name: usuario, dtype: int64

In [225]:
#Determinando o nome do arquivo
file_name_ficha = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Produtivvidade_Clinica_Outubro\Atendimento_total_clinica_outubro_2023.xlsx'
  
# Salvando o excel
df.to_excel(file_name_ficha)