In [3]:
# Relatório de Atendimento Médico

# Buscar os arquivos

import pandas as pd
df_profissionais = pd.read_excel('G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Relatorio_Setembro_2024\Profissionais_Setembro_2024.xlsx') 
df_baixa_paciente = pd.read_excel('G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Relatorio_Setembro_2024\BaixaPacientes_Setembro_2024.xlsx')

In [1]:
## Importação das Bibliotecas utilizadas neste Fonte
import requests
import json 
import pandas as pd

In [14]:
#Baixa realizadas Pacientes
rel_pac_baixa = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/baixapacientes/2024-09-01/2024-09-30')
response_baixa_pac = json.loads(rel_pac_baixa.text)
df_baixa_paciente =  pd.DataFrame.from_dict(response_baixa_pac )

In [15]:
#Profissionais
profissionais = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/profissionais/2024-09-01/2024-09-30')

profissionais = json.loads(profissionais.text)
df_profissionais =  pd.DataFrame.from_dict(profissionais )

In [16]:
df_baixa_paciente.size

67221

In [17]:
result = pd.merge(df_profissionais, df_baixa_paciente, on="usuario")

In [18]:
result.size

82159

In [19]:
df_profissionais.head()

   rf_profissional              nome_profissional  usuario
0            31043          FLAYLSON MOURA BARROS  X045282
1            34177  TYANNA MARIA BONFIM DE MORAES  X055670
2           119451             DAVILA ALVES ROCHA  X119451
3           151747  PEDRO HENRIQUE PEREIRA INGLEZ  X151747
4           189554     GIOVANNA CRUVINEL PAGLIARO  X112652

In [20]:
result.head()

,rf_profissional,nome_profissional,usuario,prontuario,con_numero,trg_seq,seqp,data_consulta,cod_status,status_ficha,data_mvto
0,31043,FLAYLSON MOURA BARROS,X045282,11819588,5818332,234279,5,2024-09-27 11:43:19.623,6,ALTA MEDICA,2024-09-27 12:13:13.252
1,34177,TYANNA MARIA BONFIM DE MORAES,X055670,12466728,5819880,235020,5,2024-09-29 23:09:58.792,6,ALTA MEDICA,2024-09-29 23:37:23.427
2,34177,TYANNA MARIA BONFIM DE MORAES,X055670,12191482,5819872,235010,6,2024-09-29 22:03:01.778,6,ALTA MEDICA,2024-09-30 01:33:56.27
3,34177,TYANNA MARIA BONFIM DE MORAES,X055670,12431755,5819868,235008,5,2024-09-29 21:49:05.491,6,ALTA MEDICA,2024-09-29 22:11:13.573
4,34177,TYANNA MARIA BONFIM DE MORAES,X055670,12230827,5819860,234998,6,2024-09-29 21:19:44.632,6,ALTA MEDICA,2024-09-30 00:43:47.361

In [21]:
df_baixa_paciente.join(df_profissionais, on='usuario', how="inner")

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [22]:
result = pd.concat([df_profissionais, df_baixa_paciente], axis=1, join="inner")

In [23]:
result.size

1200

In [24]:
result = pd.merge(df_profissionais, df_baixa_paciente, how="inner", on="usuario")

In [25]:
result.tail(100)

,rf_profissional,nome_profissional,usuario,prontuario,con_numero,trg_seq,seqp,data_consulta,cod_status,status_ficha,data_mvto
7369,50752995,GABRIELA GARCIA PERALTA,X456881,4945572,5816142,233860,5,2024-09-26 12:30:28.705,6,ALTA MEDICA,2024-09-26 15:11:29.498
7370,50752995,GABRIELA GARCIA PERALTA,X456881,11864295,5816116,233851,5,2024-09-26 12:25:57.292,6,ALTA MEDICA,2024-09-26 14:47:33.554
7371,50752995,GABRIELA GARCIA PERALTA,X456881,11439718,5816078,233848,5,2024-09-26 12:10:27.098,22,ALTA COM ENCAMINHAMENTO,2024-09-26 13:27:35.519
7372,50752995,GABRIELA GARCIA PERALTA,X456881,90108739,5816047,233844,5,2024-09-26 12:08:17.333,6,ALTA MEDICA,2024-09-26 15:32:48.839
7373,50752995,GABRIELA GARCIA PERALTA,X456881,90107368,5816044,233827,5,2024-09-26 11:53:14.415,6,ALTA MEDICA,2024-09-26 13:39:42.507
...,...,...,...,...,...,...,...,...,...,...,...
7464,66145394,MARCELA DA SILVEIRA ROCHA,X097274,819391,5789047,229731,5,2024-09-16 10:36:01.002,6,ALTA MEDICA,2024-09-16 12:36:23.531
7465,66145394,MARCELA DA SILVEIRA ROCHA,X097274,10197762,5789023,229705,5,2024-09-16 10:37:10.171,6,ALTA MEDICA,2024-09-16 11:37:54.945
7466,66145394,MARCELA DA SILVEIRA ROCHA,X097274,10553170,5789010,229722,5,2024-09-16 10:09:31.443,6,ALTA MEDICA,2024-09-16 10:51:35.168
7467,66145394,MARCELA DA SILVEIRA ROCHA,X097274,4704326,5788996,229716,5,2024-09-16 10:03:43.073,6,ALTA MEDICA,2024-09-16 10:41:23.422
7468,66145394,MARCELA DA SILVEIRA ROCHA,X097274,11603925,5788951,229702,5,2024-09-16 09:43:03.052,6,ALTA MEDICA,2024-09-16 09:58:16.107

In [26]:
result.shape

(7469, 11)

In [27]:
df_baixa_paciente.shape

(7469, 9)

In [28]:
result.head()

,rf_profissional,nome_profissional,usuario,prontuario,con_numero,trg_seq,seqp,data_consulta,cod_status,status_ficha,data_mvto
0,31043,FLAYLSON MOURA BARROS,X045282,11819588,5818332,234279,5,2024-09-27 11:43:19.623,6,ALTA MEDICA,2024-09-27 12:13:13.252
1,34177,TYANNA MARIA BONFIM DE MORAES,X055670,12466728,5819880,235020,5,2024-09-29 23:09:58.792,6,ALTA MEDICA,2024-09-29 23:37:23.427
2,34177,TYANNA MARIA BONFIM DE MORAES,X055670,12191482,5819872,235010,6,2024-09-29 22:03:01.778,6,ALTA MEDICA,2024-09-30 01:33:56.27
3,34177,TYANNA MARIA BONFIM DE MORAES,X055670,12431755,5819868,235008,5,2024-09-29 21:49:05.491,6,ALTA MEDICA,2024-09-29 22:11:13.573
4,34177,TYANNA MARIA BONFIM DE MORAES,X055670,12230827,5819860,234998,6,2024-09-29 21:19:44.632,6,ALTA MEDICA,2024-09-30 00:43:47.361

In [29]:
df = result.groupby(['nome_profissional']).count().usuario

In [30]:
df.head()

nome_profissional
AGHU                                    2
ALAN BOLONHA FIUZA DE MELLO            14
ALEXANDRE VIEIRA DE MOURA CASTRO       41
ANA CAROLINA ALVES DE ANDRADE SILVA     3
ANA CAROLINA BARBOSA FURTADO           24
Name: usuario, dtype: int64

In [31]:
#Determinando o nome do arquivo
file_name_ficha = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Relatorio_Setembro_2024\Atendimento_Medico_Setembro_2024.xlsx'
  
# Salvando o excel
df.to_excel(file_name_ficha)

In [32]:
result['data_mvto'] = pd.to_datetime(result['data_mvto'],format='mixed') #if not already as datetime object

In [33]:
dfResult = result.groupby([ 'nome_profissional',pd.Grouper(key='data_mvto', freq='12h', origin='2023-05-01 07:00:00')]).usuario.count()

In [34]:
dfResult.head()

nome_profissional                 data_mvto
AGHU                              2024-09-16 07:00:00     1
                                  2024-09-21 07:00:00     1
ALAN BOLONHA FIUZA DE MELLO       2024-09-26 07:00:00    13
                                  2024-09-26 19:00:00     1
ALEXANDRE VIEIRA DE MOURA CASTRO  2024-09-23 07:00:00    16
Name: usuario, dtype: int64

In [35]:
dfResult.head()

nome_profissional                 data_mvto
AGHU                              2024-09-16 07:00:00     1
                                  2024-09-21 07:00:00     1
ALAN BOLONHA FIUZA DE MELLO       2024-09-26 07:00:00    13
                                  2024-09-26 19:00:00     1
ALEXANDRE VIEIRA DE MOURA CASTRO  2024-09-23 07:00:00    16
Name: usuario, dtype: int64

In [36]:
#Determinando o nome do arquivo
file_name_ficha = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Relatorio_Setembro_2024\Atendimento_Setembro_Hora_2024.xlsx'
  
# Salvando o excel
dfResult.to_excel(file_name_ficha)

In [37]:
dfResult = result.groupby([ 'nome_profissional',pd.Grouper(key='data_mvto', freq='24h')]).usuario.count()

In [38]:
dfResult.head(50)

nome_profissional                    data_mvto
AGHU                                 2024-09-16     1
                                     2024-09-21     1
ALAN BOLONHA FIUZA DE MELLO          2024-09-26    14
ALEXANDRE VIEIRA DE MOURA CASTRO     2024-09-23    22
                                     2024-09-30    19
ANA CAROLINA ALVES DE ANDRADE SILVA  2024-09-28     2
                                     2024-09-29     1
ANA CAROLINA BARBOSA FURTADO         2024-09-01     4
                                     2024-09-06     2
                                     2024-09-07     3
                                     2024-09-15     2
                                     2024-09-16     1
                                     2024-09-17     3
                                     2024-09-22     6
                                     2024-09-28     3
ANA CAROLINA SALES ABREU LISBOA      2024-09-10    18
ANDRE DA CRUZ BARBOSA NAZZARO        2024-09-07    24
                                     2024-09-08     1
                                     2024-09-12     7
                                     2024-09-18     1
                                     2024-09-24     9
                                     2024-09-25     1
                                     2024-09-27     9
                                     2024-09-28     3
ANDREA BACELLAR SOARES DE ANDRADE    2024-09-12     6
                                     2024-09-19     2
                                     2024-09-26     4
ANTONIO PEDRO LISBOA DE SOUZA        2024-09-10     8
                                     2024-09-11     2
                                     2024-09-20     6
                                     2024-09-21     2
                                     2024-09-28    28
                                     2024-09-29     1
CAMILA COELHO NOBREGA RIEDEL         2024-09-01     2
                                     2024-09-02     1
                                     2024-09-04     9
                                     2024-09-05     2
                                     2024-09-08     6
                                     2024-09-09     5
CAMILA MENDONCA LOPES                2024-09-24     3
CARLOS ALBERTO GRANADILLO FIOL       2024-09-25     7
                                     2024-09-26     2
CARLOS YISRAEL                       2024-09-09     8
                                     2024-09-12    11
                                     2024-09-16    13
                                     2024-09-19    15
                                     2024-09-23    20
                                     2024-09-26     8
                                     2024-09-30    17
CLEIDE MARIA PEREIRA                 2024-09-26    15
Name: usuario, dtype: int64

In [39]:
#Determinando o nome do arquivo
file_name_ficha = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Relatorio_Setembro_2024\Atendimento_Setembro_Dia_2024.xlsx'
  
# Salvando o excel
dfResult.to_excel(file_name_ficha)