In [14]:
# Relatório de Atendimento Médico

# Buscar os arquivos

import pandas as pd
df_profissionais = pd.read_excel('G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Relatorio_Maio_2023\Profissional_Maio_2023.xlsx') 
df_baixa_paciente = pd.read_excel('G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Relatorio_Maio_2023\BaixaPacientes_Maio_2023.xlsx')

In [10]:
df_baixa_paciente.size

57015

In [7]:
result = pd.merge(df_profissionais, df_baixa_paciente, on="usuario")

In [9]:
result.size

69674

In [11]:
df_profissionais.head()

   rf_profissional              nome_profissional  usuario
0            34177  TYANNA MARIA BONFIM DE MORAES  X055670
1           110024        FERNANDA DE BORBA RAMOS  X110024
2           177926           JULINEZ E SILVA LIMA  X112461
3           264523   JOSE MIGUEL SALVATIERRA ANEZ  X014135
4           369030          SEBASTIAN RODA ANTELO  X369030

In [12]:
result.head()

,rf_profissional,nome_profissional,usuario,prontuario,con_numero,trg_seq,seqp,data_consulta,cod_status,status_ficha,data_mvto
0,34177,TYANNA MARIA BONFIM DE MORAES,X055670,11597424,4189952,75020,5,2023-05-31 00:25:23.544,6,ALTA MEDICA,2023-05-31 02:40:15.938
1,34177,TYANNA MARIA BONFIM DE MORAES,X055670,875559,4189946,75014,6,2023-05-30 23:26:29.021,6,ALTA MEDICA,2023-05-31 04:12:16.953
2,34177,TYANNA MARIA BONFIM DE MORAES,X055670,4049862,4189926,74994,6,2023-05-30 20:59:20.896,22,ALTA COM ENCAMINHAMENTO,2023-05-31 03:22:52.049
3,34177,TYANNA MARIA BONFIM DE MORAES,X055670,193011,4189921,74993,6,2023-05-30 20:49:56.358,6,ALTA MEDICA,2023-05-31 01:44:25.048
4,34177,TYANNA MARIA BONFIM DE MORAES,X055670,4692794,4189858,74952,5,2023-05-30 16:40:50.673,22,ALTA COM ENCAMINHAMENTO,2023-05-30 20:32:42.807

In [19]:
df_baixa_paciente.join(df_profissionais, on='usuario', how="inner")

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [24]:
result = pd.concat([df_profissionais, df_baixa_paciente], axis=1, join="inner")

TypeError: concat() got an unexpected keyword argument 'key'

In [22]:
result.size

696

In [41]:
result = pd.merge(df_profissionais, df_baixa_paciente, how="inner", on="usuario")

In [42]:
result.tail(100)

,rf_profissional,nome_profissional,usuario,prontuario,con_numero,trg_seq,seqp,data_consulta,cod_status,status_ficha,data_mvto
6234,49467504,FILIPE AUGUSTO DA SILVA,X494675,10663029,4069568,70642,6,2023-05-16 22:12:49.817,6,ALTA MEDICA,2023-05-17 00:42:41.123
6235,49467504,FILIPE AUGUSTO DA SILVA,X494675,3377884,4069566,70640,5,2023-05-16 21:47:27.191,15,EVASAO,2023-05-17 01:33:35.655
6236,49467504,FILIPE AUGUSTO DA SILVA,X494675,12030466,4069560,70634,6,2023-05-16 21:13:19.995,6,ALTA MEDICA,2023-05-16 23:30:16.55
6237,49467504,FILIPE AUGUSTO DA SILVA,X494675,90011099,4069552,70626,6,2023-05-16 20:44:14.127,6,ALTA MEDICA,2023-05-17 02:28:54.231
6238,49467504,FILIPE AUGUSTO DA SILVA,X494675,8068280,4069551,70628,7,2023-05-16 20:48:35.545,6,ALTA MEDICA,2023-05-17 01:54:44.062
...,...,...,...,...,...,...,...,...,...,...,...
6329,96671777,LEONARDO SOUZA ALMEIDA,X674720,2246551,4147419,73283,6,2023-05-25 10:22:04.462,6,ALTA MEDICA,2023-05-25 12:22:56.631
6330,96671777,LEONARDO SOUZA ALMEIDA,X674720,12202339,4147401,73265,5,2023-05-25 10:15:57.516,6,ALTA MEDICA,2023-05-25 11:15:23.557
6331,96671777,LEONARDO SOUZA ALMEIDA,X674720,12157897,4147320,73260,6,2023-05-25 09:22:19.317,6,ALTA MEDICA,2023-05-25 11:40:54.694
6332,96671777,LEONARDO SOUZA ALMEIDA,X674720,12312526,4146878,73233,6,2023-05-25 08:38:32.014,6,ALTA MEDICA,2023-05-25 13:00:26.177
6333,96671777,LEONARDO SOUZA ALMEIDA,X674720,10389732,4146582,73214,7,2023-05-25 07:19:10.925,6,ALTA MEDICA,2023-05-25 12:00:02.328

In [45]:
result.shape

(6334, 11)

In [46]:
df_baixa_paciente.shape

(6335, 9)

In [47]:
result.head()

,rf_profissional,nome_profissional,usuario,prontuario,con_numero,trg_seq,seqp,data_consulta,cod_status,status_ficha,data_mvto
0,34177,TYANNA MARIA BONFIM DE MORAES,X055670,11597424,4189952,75020,5,2023-05-31 00:25:23.544,6,ALTA MEDICA,2023-05-31 02:40:15.938
1,34177,TYANNA MARIA BONFIM DE MORAES,X055670,875559,4189946,75014,6,2023-05-30 23:26:29.021,6,ALTA MEDICA,2023-05-31 04:12:16.953
2,34177,TYANNA MARIA BONFIM DE MORAES,X055670,4049862,4189926,74994,6,2023-05-30 20:59:20.896,22,ALTA COM ENCAMINHAMENTO,2023-05-31 03:22:52.049
3,34177,TYANNA MARIA BONFIM DE MORAES,X055670,193011,4189921,74993,6,2023-05-30 20:49:56.358,6,ALTA MEDICA,2023-05-31 01:44:25.048
4,34177,TYANNA MARIA BONFIM DE MORAES,X055670,4692794,4189858,74952,5,2023-05-30 16:40:50.673,22,ALTA COM ENCAMINHAMENTO,2023-05-30 20:32:42.807

In [53]:
df = result.groupby(['nome_profissional']).count().usuario

In [54]:
df.head()

nome_profissional
ALUISIO LEMOS DUARTE                  9
AMANDA SANCHES TSUJIOKA              98
ANA CAROLINA SALES ABREU LISBOA      87
ANA PAULA TAUBERT LIBORIO FIUZA       3
ANDREA BACELLAR SOARES DE ANDRADE     4
Name: usuario, dtype: int64

In [55]:
#Determinando o nome do arquivo
file_name_ficha = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Relatorio_Maio_2023\Atendimento_Medico_Maio_2023.xlsx'
  
# Salvando o excel
df.to_excel(file_name_ficha)