In [15]:
## Importação das bibliotecas utilizadas no código fonte
import requests
import json
import pandas as pd

In [10]:
# Endpoints pordução do SGH

#Profissionais Médicos que deram baixa no SGH
res_prof = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/profissionais/2022-12-01/2023-04-06')

In [11]:
# Carregando os dados 'json' para um tipo dicionário

#Profissionais Médicos que deram baixa no SGH
response_prof = json.loads(res_prof.text)

In [12]:
# Criando os DataFrames a partir dos dicionários

#Profissionais Médicos que deram baixa no SGH
df_prof =  pd.DataFrame.from_dict(response_prof)

In [13]:
# Profissional 

# determining the name of the file
file_baixa_paciente = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Arquivos_Excel\Pasta\Profissional_06_04_2023.xlsx'
  
# saving the excel
df_prof.to_excel(file_baixa_paciente)

In [16]:
# Endpoints pordução do SGH

#Profissionais Médicos que deram baixa no SGH
res_prof = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/profissionais/2022-12-01/2023-04-06')

In [17]:
# Endpoints produção do SGH

#Pacientes atendidos pelo PS
res_pac = requests.get('http://intranethspm:5009/hspmsgh-api/relatorio/pacientes/2023-03-01/2023-03-31')

In [18]:
# Carregando os dados 'json' para um tipo dicionário

#Pacientes atendidos pelo PS
response_pac = json.loads(res_pac.text)

In [19]:
# Criando os DataFrames a partir dos dicionários

#Pacientes atendidos pelo PS
df_pac =  pd.DataFrame.from_dict(response_pac)

In [20]:
# importacao de bibliotecas
import pandas as pd
from unidecode import unidecode

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [21]:
import numpy as np
print(np.__version__)

1.18.5

In [22]:
# Importacao da biblioteca sqlalchemy
from sqlalchemy import create_engine

In [23]:
## Conexão com a base de dados postgree

import pyodbc as podbc

cnxn = podbc.connect("Driver={SQL Server Native Client 11.0};Server=hspmins18;Database=hspmRelatorioPs;uid=hspmApp;pwd=SoundG@rden=1")

In [24]:
## Acesso a base de dados

sql = "SELECT * FROM [hspmRelatorioPs].[dbo].[Paciente]"
data_sql_server_pac = pd.read_sql(sql,cnxn)

In [25]:
data_sql_server_pac.head()

,prontuario,nomePaciente,dataNascimento,cns,rg,cpf,sexo,idade,raca,mae,pai,email,tipoPaciente,rf,ddd_foneResidencial,ddd_foneComercial,ddd_foneRecado,foneResidencial,foneComercial,foneRecado
0,1115,ALCIDES ALLIAGA,1943-06-29,898001447386142,2978827-4,22706976853,M,79,None,MARIA CONCEPCION ALONSO ALLIAG,CRISTOVAM ALLIAGA,None,Servidor,4563476,11.0,NaN,11.0,39210163.0,NaN,998499600.0
1,2568,SERGIO LUIZ ADRIANO,1942-03-02,0,3065535-3,12139998804,M,81,None,ZILDA OTONI ADRIANO,ANTONIO ADRIANO,None,Servidor,4577051,11.0,NaN,11.0,39613365.0,NaN,993175377.0
2,3376,LEDA DE OLIVEIRA * *,1962-02-10,0,None,0,F,61,None,MARIA APARECIDA DE OLIVEIRA,A PROPRIA,None,Servidor,0,NaN,NaN,NaN,966159667.0,NaN,NaN
3,7344,NELSON EMILIO BENDINELLI,1940-04-30,0,45252749,37225979868,M,82,None,LEONOR ZANALDO,SANTO FELIX BENDINELLI,None,Servidor,4688236,11.0,NaN,11.0,36071570.0,NaN,949019340.0
4,7831,MARIA DA PENHA GOMES DE LIMA,1941-05-02,0,15590242-8,3926465875,F,81,None,ANTONIA EMILIA GOMES,JOAO BATISTA GOMES,None,Dependente,4464320,11.0,NaN,11.0,36071512.0,NaN,982354876.0

In [26]:
data_sql_server_pac.shape

(11362, 20)

In [32]:
result = pd.merge(data_sql_server_pac, df_pac, on="prontuario",how="outer",indicator=True)

In [33]:
result.head()

,prontuario,nomePaciente_x,dataNascimento_x,cns_x,rg_x,cpf_x,sexo_x,idade_x,raca_x,mae_x,...,email_y,tipoPaciente_y,rf_y,ddd_foneResidencial_y,ddd_foneComercial_y,ddd_foneRecado_y,foneResidencial_y,foneComercial_y,foneRecado_y,_merge
0,1115,ALCIDES ALLIAGA,1943-06-29,8.980014e+14,2978827-4,2.270698e+10,M,79.0,None,MARIA CONCEPCION ALONSO ALLIAG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,2568,SERGIO LUIZ ADRIANO,1942-03-02,0.000000e+00,3065535-3,1.214000e+10,M,81.0,None,ZILDA OTONI ADRIANO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,3376,LEDA DE OLIVEIRA * *,1962-02-10,0.000000e+00,None,0.000000e+00,F,61.0,None,MARIA APARECIDA DE OLIVEIRA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,7344,NELSON EMILIO BENDINELLI,1940-04-30,0.000000e+00,45252749,3.722598e+10,M,82.0,None,LEONOR ZANALDO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,7831,MARIA DA PENHA GOMES DE LIMA,1941-05-02,0.000000e+00,15590242-8,3.926466e+09,F,81.0,None,ANTONIA EMILIA GOMES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [34]:
result.shape

(15809, 41)

In [35]:
result=result[result['_merge']=='left_only']