In [33]:
# Relatório de Atendimento Médico

# Buscar os arquivos

import pandas as pd
df_profissionais = pd.read_excel('G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Relatorio_Abril_2024\Profissionais_Marco_2024.xlsx') 
df_baixa_paciente = pd.read_excel('G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Relatorio_Abril_2024\BaixaPacientes_Marco_2024.xlsx')

In [34]:
df_baixa_paciente.size

66879

In [35]:
result = pd.merge(df_profissionais, df_baixa_paciente, on="usuario")

In [36]:
result.size

81741

In [37]:
df_profissionais.head()

   rf_profissional              nome_profissional  usuario
0            34177  TYANNA MARIA BONFIM DE MORAES  X055670
1           110024        FERNANDA DE BORBA RAMOS  X110024
2           151747  PEDRO HENRIQUE PEREIRA INGLEZ  X151747
3           264523   JOSE MIGUEL SALVATIERRA ANEZ  X014135
4           329228            YAMILE ASBUN TELLEZ  X820120

In [38]:
result.head()

,rf_profissional,nome_profissional,usuario,prontuario,con_numero,trg_seq,seqp,data_consulta,cod_status,status_ficha,data_mvto
0,34177,TYANNA MARIA BONFIM DE MORAES,X055670,4806261,5174453,168328,5,2024-03-29 17:16:15.438,6,ALTA MEDICA,2024-03-29 18:11:44.765
1,34177,TYANNA MARIA BONFIM DE MORAES,X055670,11383379,5174395,168277,6,2024-03-29 13:53:15.903,6,ALTA MEDICA,2024-03-29 18:52:06.441
2,34177,TYANNA MARIA BONFIM DE MORAES,X055670,3473501,5174393,168275,6,2024-03-29 13:44:37.007,6,ALTA MEDICA,2024-03-29 18:49:13.246
3,34177,TYANNA MARIA BONFIM DE MORAES,X055670,11571817,5174392,168274,5,2024-03-29 13:39:40.317,6,ALTA MEDICA,2024-03-29 14:05:01.673
4,34177,TYANNA MARIA BONFIM DE MORAES,X055670,90028622,5174384,168264,5,2024-03-29 13:05:53.386,6,ALTA MEDICA,2024-03-29 13:48:32.033

In [39]:
df_baixa_paciente.join(df_profissionais, on='usuario', how="inner")

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [ ]:
result = pd.concat([df_profissionais, df_baixa_paciente], axis=1, join="inner")

In [40]:
result.size

81741

In [41]:
result = pd.merge(df_profissionais, df_baixa_paciente, how="inner", on="usuario")

In [42]:
result.tail(100)

,rf_profissional,nome_profissional,usuario,prontuario,con_numero,trg_seq,seqp,data_consulta,cod_status,status_ficha,data_mvto
7331,49467504,FILIPE AUGUSTO DA SILVA,X494675,10143824,5117198,158330,6,2024-03-03 20:43:31.945,6,ALTA MEDICA,2024-03-03 22:48:46.693
7332,49467504,FILIPE AUGUSTO DA SILVA,X494675,11415486,5117192,158324,6,2024-03-03 20:36:43.711,6,ALTA MEDICA,2024-03-03 23:20:47.046
7333,49467504,FILIPE AUGUSTO DA SILVA,X494675,54973,5117190,158322,6,2024-03-03 19:56:54.643,6,ALTA MEDICA,2024-03-03 23:30:38.772
7334,49467504,FILIPE AUGUSTO DA SILVA,X494675,11346129,5117186,158316,5,2024-03-03 19:44:06.084,6,ALTA MEDICA,2024-03-03 20:45:51.423
7335,49467504,FILIPE AUGUSTO DA SILVA,X494675,11048436,5117184,158314,6,2024-03-03 19:43:18.389,6,ALTA MEDICA,2024-03-03 23:46:43.752
...,...,...,...,...,...,...,...,...,...,...,...
7426,96671777,LEONARDO SOUZA ALMEIDA,X674720,90069089,5140218,162508,5,2024-03-14 09:32:35.911,6,ALTA MEDICA,2024-03-14 10:29:59.89
7427,96671777,LEONARDO SOUZA ALMEIDA,X674720,12197075,5139777,162509,5,2024-03-14 09:39:34.952,6,ALTA MEDICA,2024-03-14 10:17:55.287
7428,96671777,LEONARDO SOUZA ALMEIDA,X674720,90023953,5139488,162489,5,2024-03-14 08:59:27.784,6,ALTA MEDICA,2024-03-14 10:39:36.812
7429,96671777,LEONARDO SOUZA ALMEIDA,X674720,8504490,5139482,162492,6,2024-03-14 08:54:41.932,6,ALTA MEDICA,2024-03-14 10:47:02.241
7430,96671777,LEONARDO SOUZA ALMEIDA,X674720,90067893,5139313,162428,6,2024-03-14 05:38:00.821,6,ALTA MEDICA,2024-03-14 11:05:59.852

In [43]:
result.shape

(7431, 11)

In [44]:
df_baixa_paciente.shape

(7431, 9)

In [45]:
result.head()

,rf_profissional,nome_profissional,usuario,prontuario,con_numero,trg_seq,seqp,data_consulta,cod_status,status_ficha,data_mvto
0,34177,TYANNA MARIA BONFIM DE MORAES,X055670,4806261,5174453,168328,5,2024-03-29 17:16:15.438,6,ALTA MEDICA,2024-03-29 18:11:44.765
1,34177,TYANNA MARIA BONFIM DE MORAES,X055670,11383379,5174395,168277,6,2024-03-29 13:53:15.903,6,ALTA MEDICA,2024-03-29 18:52:06.441
2,34177,TYANNA MARIA BONFIM DE MORAES,X055670,3473501,5174393,168275,6,2024-03-29 13:44:37.007,6,ALTA MEDICA,2024-03-29 18:49:13.246
3,34177,TYANNA MARIA BONFIM DE MORAES,X055670,11571817,5174392,168274,5,2024-03-29 13:39:40.317,6,ALTA MEDICA,2024-03-29 14:05:01.673
4,34177,TYANNA MARIA BONFIM DE MORAES,X055670,90028622,5174384,168264,5,2024-03-29 13:05:53.386,6,ALTA MEDICA,2024-03-29 13:48:32.033

In [46]:
df = result.groupby(['nome_profissional']).count().usuario

In [47]:
df.head()

nome_profissional
ALEX VITORIO AMADIO                    2
ALUISIO LEMOS DUARTE                   2
AMANDA SANCHES TSUJIOKA                9
ANA CAROLINA SALES ABREU LISBOA      132
ANDREA BACELLAR SOARES DE ANDRADE      7
Name: usuario, dtype: int64

In [48]:
#Determinando o nome do arquivo
file_name_ficha = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Relatorio_Marco_2024\Atendimento_Medico_Marco_2024.xlsx'
  
# Salvando o excel
df.to_excel(file_name_ficha)

In [49]:
result['data_mvto'] = pd.to_datetime(result['data_mvto'],format='mixed') #if not already as datetime object

In [50]:
dfResult = result.groupby([ 'nome_profissional',pd.Grouper(key='data_mvto', freq='12h', origin='2023-05-01 07:00:00')]).usuario.count()

In [51]:
dfResult.head()

nome_profissional                data_mvto
ALEX VITORIO AMADIO              2024-03-30 07:00:00     1
                                 2024-03-31 07:00:00     1
ALUISIO LEMOS DUARTE             2024-03-31 19:00:00     2
AMANDA SANCHES TSUJIOKA          2024-03-30 07:00:00     9
ANA CAROLINA SALES ABREU LISBOA  2024-03-05 19:00:00    22
Name: usuario, dtype: int64

In [52]:
dfResult.head()

nome_profissional                data_mvto
ALEX VITORIO AMADIO              2024-03-30 07:00:00     1
                                 2024-03-31 07:00:00     1
ALUISIO LEMOS DUARTE             2024-03-31 19:00:00     2
AMANDA SANCHES TSUJIOKA          2024-03-30 07:00:00     9
ANA CAROLINA SALES ABREU LISBOA  2024-03-05 19:00:00    22
Name: usuario, dtype: int64

In [53]:
#Determinando o nome do arquivo
file_name_ficha = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Relatorio_Marco_2024\Atendimento_Marco_Hora_2024.xlsx'
  
# Salvando o excel
dfResult.to_excel(file_name_ficha)

In [54]:
dfResult = result.groupby([ 'nome_profissional',pd.Grouper(key='data_mvto', freq='24h')]).usuario.count()

In [55]:
dfResult.head(50)

nome_profissional                  data_mvto
ALEX VITORIO AMADIO                2024-03-30     1
                                   2024-03-31     1
ALUISIO LEMOS DUARTE               2024-03-31     2
AMANDA SANCHES TSUJIOKA            2024-03-30     9
ANA CAROLINA SALES ABREU LISBOA    2024-03-05    16
                                   2024-03-06     6
                                   2024-03-09    24
                                   2024-03-16    17
                                   2024-03-19     8
                                   2024-03-20    13
                                   2024-03-23    27
                                   2024-03-27    10
                                   2024-03-28     6
                                   2024-03-29     4
                                   2024-03-30     1
ANDREA BACELLAR SOARES DE ANDRADE  2024-03-07     2
                                   2024-03-28     5
ARIEL GUTIERREZ DELGADILLO         2024-03-07     3
BEATRIZ DE AUGUSTO ISIHI           2024-03-02    17
                                   2024-03-04    32
                                   2024-03-06    23
                                   2024-03-11    28
                                   2024-03-12    22
                                   2024-03-13    44
                                   2024-03-14    10
                                   2024-03-18    25
                                   2024-03-20    22
                                   2024-03-23     6
                                   2024-03-24     6
                                   2024-03-25    20
                                   2024-03-27    23
                                   2024-03-30    22
                                   2024-03-31     8
BEATRIZ OLIVEIRA DE PAULA          2024-03-02    24
                                   2024-03-11    24
                                   2024-03-12    23
                                   2024-03-28    17
                                   2024-03-29     7
BRUNA ANDRADE BELLO                2024-03-04     9
                                   2024-03-06    23
                                   2024-03-07     5
                                   2024-03-11    16
                                   2024-03-12     1
                                   2024-03-14     1
CARLOS EDUARDO ABULARACH BANEGAS   2024-03-05    27
                                   2024-03-06    25
                                   2024-03-12    22
                                   2024-03-13    11
                                   2024-03-16     5
                                   2024-03-17     6
Name: usuario, dtype: int64

In [56]:
#Determinando o nome do arquivo
file_name_ficha = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\WorkSpace_PS\Relatorio_Marco_2024\Atendimento_Marco_Dia_2024.xlsx'
  
# Salvando o excel
dfResult.to_excel(file_name_ficha)